<!DOCTYPE html>
<html>

<head>
    <title>AN Call</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="../easyrtc/easyrtc.css" />
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../easyrtc/easyrtc.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
    <script type="text/javascript" src="js/DateFormator.js"></script>



</head>

<body onload="appInit()" style="background-image:url(landing.jpg);">

    <div class="w3-bar w3-black">
        <span class="w3-bar-item w3-mobile w3-green">AN Chat</span>
        <span class="w3-bar-item w3-mobile w3-center" id="roomName"></span>
        <a href="/" title="Logout" class="w3-bar-item w3-right">
            <i class="material-icons w3-text-white w3-hover-text-green">
                exit_to_app
            </i>
        </a>
        <button id="clearTextbtn" title="Clear Messages" style="display:none;" class="w3-bar-item w3-right w3-black"
            onclick="ClearText()">
            <i class="material-icons w3-text-white w3-hover-text-pink ">delete_sweep</i>
        </button>



    </div>


    <video id="box0" muted="muted" volume="0" autoplay="autoplay" playsinline="playsinline" style="visibility: visible;z-index:10;"
        class="videoElement self"></video>
    <video id="box1" class="videoElement other" style="z-index:9;" autoplay="autoplay" playsinline="playsinline" controls></video>
</body>
</html>